/JumpGameBuildInitial/Intermediate/CachedAssetRegistry.bin
/JumpGameBuildInitial/Saved/Config/Windows/EditorPerProjectUserSettings.ini
/JumpGameBuildInitial/Saved/Logs/JumpGameBuildInitial.log

\JumpGameBuildInitial\Intermediate\CachedAssetRegistry.bin
\JumpGameBuildInitial\Saved\Config\Windows\EditorPerProjectUserSettings.ini
\JumpGameBuildInitial\Saved\Logs\JumpGameBuildInitial.log